.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #164289;
  padding: 15px 30px;
  color: white;

 }
.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin: 50px;
}

.nav-links a:hover {
  text-decoration: underline;
}

.button {
  
  background-color: blue;
  margin-right: 10px; 
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;

}